@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=fallback');

@tailwind base;
@tailwind components;

@import 'additional-styles/utility-patterns.scss';
@import 'additional-styles/range-slider.scss';
@import 'additional-styles/toggle-switch.scss';
@import 'additional-styles/theme.scss';

@tailwind utilities;

@layer utilities {
    .rtl {
        direction: rtl;
    }
}

[x-cloak] {
    display: none;
}

$aos-distance: 10px;
@import 'node_modules/aos/src/sass/aos.scss'